.App {
  width: 100vw;
  background-color: white;
  margin:50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon__list{
  display: flex;
  flex-wrap: wrap;
}
.pokemon__list--li{
  background-color: rgb(208, 237, 247);
  border:2px solid black;
  border-radius: 10px;
  margin: 20px;
  display:flex;
  flex-direction: column;

}
.image__pokemon--style{
  width: 200px;
  height: 200px;
}
.pokemon__list--types{
  padding: 0;
  margin-bottom: 10px;
  text-align: center;
  display:flex;
  justify-content:flex-start;
  margin-left: 10px;
}
.pokemon__list--li--types{
  display:flex;
  align-items: center;
  align-self: center;
  width: 60px;
  height: 30px;
  border:2px solid black;
  background-color: lightgrey;
  border-radius: 20px;
  list-style: none;
  margin-left: 10px;
}
.name{
  border-top:2px solid black;
  border-bottom:2px solid black;
  text-transform: capitalize;
}