.App {
  width: 100vw;
  background-color: lightcoral;
  margin:50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon__list{
  display: flex;
  flex-wrap: wrap;
  background-color: pink;
  
}
.pokemon__list--li{
  border:2px solid black;
  display:flex;
  flex-direction: column;

}
.img__pokemon{
  width: 200px;
  height: 200px;
}