.App {
  width: 100vw;
  background-color: white;
  margin:50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon__list{
  display: flex;
  flex-wrap: wrap;
}
.pokemon__list--li{
  background-color: rgb(208, 237, 247);
  border:2px solid black;
  border-radius: 10px;
  margin: 20px;
  display:flex;
  flex-direction: column;

}
.image__pokemon--style{
  width: 200px;
  height: 200px;
}
.pokemon__list--li--types{
  
}