.App {
  width: 100vw;
  background-color: white;
  margin:50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__avatar{
  text-align: center;
  width: 200px;
  height: 70px;
    @media all and(min-width:768px) {
      width: 350px;
      height: 100px;
    }
    @media all and(min-width:1020px) {
      width: 500px;
      height: 150px;
  }
}
.header__title{
  color: black;
}
.pokemon__list{
  display: flex;
  flex-wrap: wrap;
}
.pokemon__list--li{
  background-color: rgb(216, 218, 218);
  border:5px ridge rgb(255, 255, 93);
  border-radius: 10px;
  margin: 20px;
  display:flex;
  flex-direction: column;

}
.image__pokemon--style{
  width: 200px;
  height: 200px;
}
.pokemon__list--types{
  padding: 0;
  margin-bottom: 10px;
  display:flex;
  margin-left: 10px;
}
.pokemon__list--li--types{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  border:5px ridge rgb(255, 255, 93);
  background-color: lightgrey;
  border-radius: 20px;
  list-style: none;
  margin-left: 10px;
}
.name{
  text-align: center;
  border-top:2px ridge rgb(255, 255, 93);
  border-bottom:2px ridge rgb(255, 255, 93);
  text-transform: capitalize;
}